applicationhost.config
.vs
packages
*.cache

# all bin folders
bin

#logs

CompanyEmployees/internallogs
CompanyEmployees/logs

#obj/Debug

CompanyEmployees/CompanyEmployees/obj
CompanyEmployees/Contracts/obj
CompanyEmployees/LoggerService/obj
CompanyEmployees/Entities/obj
CompanyEmployees/Repository/obj

